.sidebar {
  position: sticky;
  top: 0;
  
}

.sidebar_wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #f4f5fa;
  min-height: 100vh;
  padding: 30px;
  width: 150px;
}

.sidebar_items {
  display: flex;
  flex-direction: column;
  flex: 1;
  line-height: 5em;
  padding: 60px;
}

